node_modules
scripts
test
.vscode
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
hardhat.config.test
hardhat.config.ts
package-lock.json
package.json
tsconfig.json


node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
